<style>
dossier profile titlebar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    }
dossier profile titlebar > h1 {
background-color: inherit;
}
</style>
<h1 style="width: 100%;background-color:black;color:white;text-align:center;">{{Title}}</h1>    
<profile>
<img src="{{Photo}}" alt="">
<h1 style="width: 100%;text-align:center;">{{HeaderName}}</h1>
<div>
  <table>
<tbody>
  <tr>
    <td>DATE OF BIRTH:</td>
    <td>{{DateOfBirth}}</td>
  </tr>
  <tr>
    <td>CITIZEN:</td>
    <td>{{Citizen}}</td>
  </tr>
  <tr>
    <td>HEIGHT:</td>
    <td>{{Height}}</td>
  </tr>
  <tr>
    <td>WEIGHT:</td>
    <td>{{Weight}}</td>
  </tr>
  <tr>
    <td>MARITAL STATUS:</td>
    <td>{{MaritalStatus}}</td>
  </tr>
  <tr>
    <td>CHILDREN:</td>
    <td>{{Children}}</td>
  </tr>
  <tr>
    <td>LANGUAGES:</td>
    <td>{{Languages}}</td>
  </tr>
  <tr>
    <td>MILITARY SERVICE:</td>
    <td>{{MilitaryService}}</td>
  </tr>
  <tr>
    <td>MARKS:</td>
    <td>{{Marks}}</td>
  </tr>
  <tr>
    <td>HAIR COLOUR:</td>
    <td>{{HairColour}}</td>
  </tr>
  <tr>
    <td>EYE COLOUR:</td>
    <td>{{EyeColour}}</td>
  </tr>
  <tr>
    <td>PARENTS:</td>
    <td>{{Parents}}</td>
  </tr>
  <tr>
    <td>CURRENT RESIDENCE:</td>
    <td>{{CurrentResidence}}</td>
  </tr>
</tbody>
</table>
</div>

<p>{{Bio}}</p>
</profile>