<div id="standby{{RandomID}}" style="position:absolute;inset:0;display:flex;align-items:center;justify-content:center;background-color:{{BackgroundColor}};color:{{TextColor}};font-family:'Ubuntu Mono',monospace;">
  <script>
  document.getElementById("standby{{RandomID}}").style.display="none"
  document.getElementById("briefingcontainer{{RandomID}}").style.display="block"
</script>
</div>